*{
    margin: 0;
    padding: 0;
}
#logocontainer{
    position: relative;
   
width: 375px;
height: 812px;
background-color: brown;
border: 1px solid black;
z-index: 2;
display: flex;
justify-content: center;
}
.logo{
    z-index: 1;
    position: relative;
    top: 200px;
    left: 72px;
    width: 230px;
    display: inline-block;
    
}
h2{
    position: relative;
    top: 220px;
    left: 110px;
   display: flex;
   align-items: center;
   z-index: 1;
   display: inline-block;
}
h3{
    position: relative;
    top: 360px;
    left: -2px;
   display: flex;
   align-items: center;
   z-index: 1;
   display: inline-block;
}
.line{
    position: relative;
    top: 220px;
    left: 50px;
   display: flex;
   align-items: center;
   z-index: 1;
    width: 280px;
    height: 3px;
    background-color: black;
    display: inline-block;
}
#button input{
    background-color: chocolate;
    display: inline-block;
    display: flex;
    
}
#button a{
   text-decoration: none;
    
}
.login{
position: relative;
top: 250px;
left: 90px;
width: 200px;
height: 40px;
padding-left: 80px;
}
.signup{
    position: relative;
    top: 330px;
    left: 90px;
    width: 200px;
    height: 40px;
    padding-left: 80px;

    
}